/Practical4/nbproject/private/
/Practical4/build/
/Practical5/nbproject/private/
/Chapter 5 Sample Code Using MS Access/nbproject/private/
/Chapter 5 Sample Code Using MS Access/build/
/Chapter 5-Sample-Code-Using-MS-Access/build/
/Chapter 5-Sample-Code-Using-MS-Access/nbproject/private/
/Practical5/build/
/FourTierApp/nbproject/private/
/FourTierApp/build/
/Practical6/nbproject/private/
/Practical6/build/
/Practical7/nbproject/private/
/Chapter7/build/
/Chapter7/nbproject/private/
/Practical7/build/
/Practical7/dist/
/Practical-8-WebApp/nbproject/private/
/Practical-8-WebApp/build/
/Practical-8-WebApp/dist/
/transportweb/nbproject/private/
/transportweb/build/
/uniweb/nbproject/private/
/uniweb/build/