<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>p8q1Servlet</servlet-name>
        <servlet-class>p8q1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p8q2Servlet</servlet-name>
        <servlet-class>p8q2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p8q3Servlet</servlet-name>
        <servlet-class>p8q3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p8q4Servlet</servlet-name>
        <servlet-class>p8q4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p8q4ThirdServlet</servlet-name>
        <servlet-class>p8q4ThirdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>p8q1Servlet</servlet-name>
        <url-pattern>/p8q1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p8q2Servlet</servlet-name>
        <url-pattern>/p8q2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p8q3Servlet</servlet-name>
        <url-pattern>/p8q3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p8q4Servlet</servlet-name>
        <url-pattern>/p8q4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p8q4ThirdServlet</servlet-name>
        <url-pattern>/p8q4ThirdServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
